# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Rider에서 무시된 파일
/.idea. Chess-Chaos-server.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# User secrets
**/secrets.json

# VS 설정 파일
.vscode/
*.user
*.suo

# 앱 설정 무시
appsettings.json
appsettings.Production.json
